.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.markdown-body p {
  line-height: 1.8em;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body a {
  margin: 0;
  color: #d32f2f;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
}

.markdown-body blockquote {
  margin-left: 0;
  padding: .1em 0 .1em 1.5em;
  color: #7b848e;
  border-left: .3em solid rgba(128, 128, 128, .6);
}

.markdown-body ul, ol {
  padding-left: 1em;
}

.markdown-body ul > li {
  list-style: inside;
}

.markdown-body ol > li {
  list-style-position: inside;
}

.markdown-body table {
  border-collapse: collapse;
  border-style: hidden;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #d8d8d8;
  font-size: 0.95em;
}

.markdown-body table tr:nth-child(2n) {
  background-color: rgba(128, 128, 128, .15);
}

.markdown-body table th {
  background-color: rgba(128, 128, 128, .3);
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: .5em 1.5em;
  border: .5px solid rgba(128, 128, 128, .5);
}