.markdown-body h1, h2, h3, h4, h5, h6 {
  padding-bottom: 16px;
}

.markdown-body a :hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: 700;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.markdown-body p {
  line-height: 1.8em;
}

.markdown-body a :hover {
  text-decoration: underline;
}

.markdown-body img [align = right] {
  padding-left: 20px;
}

.markdown-body img [align = left] {
  padding-right: 20px;
}

.markdown-body a {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: 0.95em;
}

.markdown-body blockquote {
  margin-left: 0;
  margin-bottom: 16px;
  padding-left: 16px;
  color: rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, .05);
  border-left: .3em solid rgba(128, 128, 128, .6);
}

.markdown-body blockquote > p {
  padding: 16px 0;
}

.markdown-body p {
  margin: 0;
  font-size: .95rem;
  padding-bottom: 16px;
}

.markdown-body hr {
  margin-bottom: 16px;
}

.markdown-body ul, ol {
  padding-left: 1em;
  padding-bottom: 16px;
}

.markdown-body ul > li {
  list-style: inside;
}

.markdown-body ol > li {
  list-style-position: inside;
}

.markdown-body table {
  border-collapse: collapse;
  border-style: hidden;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #d8d8d8;
  font-size: 0.95em;
}

.markdown-body table tr :nth-child(2n) {
  background-color: rgba(128, 128, 128, .1);
}

.markdown-body table th {
  background-color: rgba(128, 128, 128, .15);
  font-weight: 700;
}

.markdown-body table th, .markdown-body table td {
  padding: .5em 1.5em;
  border: .5px solid rgba(128, 128, 128, .5);
}