.markdown-body code, pre {
	color: #ccc !important;
	background: #313131 !important;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, 'Source Code Pro';
	font-size: 0.92em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.markdown-body code {
	background: none !important;
	color: #cfcfcf !important;
	padding: 0 !important;
}

.markdown-body pre {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

.markdown-body :not(pre) > code,
pre {
	background: #313131 !important;
	border-radius: .5em;
}

.markdown-body :not(pre) > code {
	padding: .2em .6em !important;
	margin: 0 .2em;
	border-radius: .5em;
	font-size: 0.8em;
	font-weight: 600;
	white-space: normal;
}

@media(prefers-color-scheme: light) {
	.markdown-body :not(pre) > code {
		background: #faf0ee !important;
		color: #905 !important;
	}
}

@media (min-width: 1200px) {
	.markdown-body code, pre {
    	font-size: 1em;
	}
	.markdown-body :not(pre) > code {
		font-size: 0.82em;
	}
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #cfcfcf;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
